<div class="map" #mapElement></div>

<!-- <div class="comment">commentaire</div> -->
<!-- ---------------------------------- -->
<!-- <gmp-map
style="height: 80%; width: 100%;"
center="50.4249144715562,4.45908341921676"
zoom="10"
map-id="DEMO_MAP_ID"
>
    @for(localisation of localisations; track localisation.id){
    <gmp-advanced-marker
        position = "50.4249144715562,4.45908341921676"
        title="Mountain View, CA"
    ></gmp-advanced-marker>
}

<gmp-advanced-marker
        position = "50.4249544715562,4.45908341921676"
        title="Mountain View, CA"
    ></gmp-advanced-marker>
    <gmp-advanced-marker
        position = "50.4249944715562,4.45908341921676"
        title="Mountain View, CA"
    ></gmp-advanced-marker>
</gmp-map>  -->

<!-- ----------------------------------- -->
<!-- <gmp-map
      center="37.4220656,-122.0840897"
      zoom="10"
      map-id="DEMO_MAP_ID"
      style="height: 400px"
    ></gmp-map> -->
<!-- <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCc_QoX81AZDfjQ125iXnh0JQyBSneLSOI&callback=initMap&v=beta"
      defer
    ></script> -->
<!-- <script>
    (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
      v: "weekly",
      key: "AIzaSyCc_QoX81AZDfjQ125iXnh0JQyBSneLSOI",
    });
  </script> -->

<!-- <div id='map' style='width: 400px; height: 300px;'></div>
<script>
mapboxgl.accessToken = 'pk.eyJ1Ijoic3RlbjcwOCIsImEiOiJjbTNhN2ZubWcxN2xvMnZzY25ubjVldzdkIn0.nm8vLijVOv4G4Uny7gHseg';
const map = new mapboxgl.Map({
	container: 'map', // container ID
	style: 'mapbox://styles/mapbox/streets-v12', // style URL
	center: [-74.5, 40], // starting position [lng, lat]
	zoom: 9, // starting zoom
});



#markerElem="mapAdvancedMarker"
</script>   -->