.dashboard-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    max-height: 600px;
    
}


.left-container {
    width: 35%;
    overflow-y: scroll;
}
.custom-scroll {
    width: 300px;
    height: 150px;
    overflow-y: scroll; /* Active la barre verticale */
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .left-container::-webkit-scrollbar {
    width: 12px;
  }
  
  .left-container::-webkit-scrollbar-track {
    background: #e0e0e0;
    border-radius: 20px;
  }
  
  .left-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 20px;
    border: 2px solid #e0e0e0;
  }
  
  .left-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

.center-container {
    width: 65%;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Ajouter une ombre pour un effet */

}


